{$PULLPREVIEW_URL} {
	# Websocket proxy for hocuspocus
	handle /hocuspocus {
		reverse_proxy hocuspocus:1234 {
			transport http {
				versions h2c 1.1
			}
		}
	}

	# Reverse proxy for web app
	handle {
		reverse_proxy web:8080 {
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-Host {host}
			header_up X-Real-IP {remote_host}
		}
	}
}

